
<div class="container">
    <table style="width:100%">
        <tr>
          <th>type</th>
          <th>company</th> 
          <th>email</th>
          <th>followers</th>
        
        </tr>
        <tr>
            <td>{{getprofiledata.company}}</td>
            <td>  {{getprofiledata.email}}</td>
            <td> {{getprofiledata.followers}}</td>
            <td> {{getprofiledata.type}}</td>
           
        </tr>

      </table>
</div>