<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="user" placeholder="user name" aria-label=" username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2" (click)="getuserData()">Get data</span>
      </div>
    
    <div class="input-group mb-3" >
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Total Count</button>
        <input type="text" readonly="true" [(ngModel)]="result.total_count" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>


    <div>
        <table style="width:100%">
            <tr>
              <th>user</th>
              <th>type</th> 
            
            </tr>
            <ng-container *ngFor="let x of result.items;let i=index">
                
            <tr *ngIf="i<=10">
             <td (click)="gotoLoin(x)" class="hsv">{{x.login}}</td>
             <td>{{x.type}}</td>
            </tr>
        </ng-container>
          </table>
    </div>

   

</div>
<div>

    <div id="chart_div"></div>
</div>